/*create variables*/
:root{
    /*light*/
    --v_light_background: linear-gradient(117deg, #EEEEF0 0%, #CCCCD8 100%);
    --v_font_family: 'Roboto', sans-serif;
    --v_font_size_m: 24px;
    --v_color_pink: #D166FF;
    --v_color_black: #121215;
    --v_color_white: white;
    --v_color_greyis: rgba(255, 255, 255, 0.75); 
    --v_color_grey: #888;
    --v_column_direction: column;
    --v_f_start_align_itm: flex-start;
    --v_center_align_itm: center;
    --v_f_end_align_itm: flex-end;
    --v_0px: 0px;
    --v_font_weight_m: 400;   
    --v_font_weight_l: 700;
    --v_gap_m: 50px;
    --v_gap_s: 32px;
    --v_gap_xs: 10px;
    --v_stretch_align_s: stretch;
    --v_center_justify_cont: center;
    --v_space_btw_justify_cont: space-between;
    --v_white_shadow: 0px 0px 15px #FFF;    
    --v_fromus_bg_color: black;
    --v_whiteis_color: #EEEEF0;
    --v_none: none;
    
    /*dark mode*/
    --v_dark_background: linear-gradient(117deg, #121215 0%, #262629 100%);
    --v_dak_border_bottom: 1px solid white;
    --v_dark_fromus_color: black;
    --v_color_purple: #7000A0;
    --v_dark_opinion_color: black;


    --v_background: var(--v_light_background);
    --v_font_color: var(--v_color_black);
    --v_author_color: var(--v_color_pink);
    --v_company_color: var(--v_color_white);
    --v_form_color: var(--v_color_white);
    --v_line_background: var(--v_color_black);
    --v_line_after: var(--v_color_black);
    --v_form_div: var(--v_color_black);
    --v_compinfo_title: var(--v_color_black);
    --v_def_font_family: var(--v_font_family);
    --v_def_div_gap: var(--v_gap_m);
    --v_manu_gap: 15px;
    --v_menu_algin_itm: var(--v_f_start_align_itm);
    --v_menu_line_border_bottom: 1px solid black;
    --v_menu_line_js_content: var(--v_space_btw_justify_cont);
    --v_menu_line_nav_gap: var(--v_gap_m);
    --v_compinfo_title_text_shadow: var(--v_white_shadow);
    --v_compinfo_title_font_wheigt: var(--v_font_weight_m);
    --v_menu_line_nav_a_font: var(--v_color_black);
    --v_nav_sevice_left: 1175px;
    --v_fromus_color: var(--v_whiteis_color);
    --v_fromus_div_gap: var(--v_gap_m);
    --v_fromus_js_content: var(--v_center_justify_cont);
    --v_fromus_algin_itm: var(--v_f_start_align_itm);
    --v_fromus_algin_self: var(--v_stretch_align_s);
    --v_def_div_flex: row;
    --v_opinion_color: var(--v_whiteis_color);
    --v_opinion_font_size: 30px;
    --v_author_js_contetn: var(--v_f_end_align_itm);
    --v_compinfo_title_color_h1: var(--v_color_black);
    --v_compinfo_left: 525px;
    --v_compinfo_width: 727px;
    --v_compinfo_line_height: 140px;
    --v_introduction_p: var(--v_font_size_m);
    --v_company_footer_height: 291px;
    --v_company_footer_p_color: var(--v_company_color);
    --v_company_footer_p_f_size: 120px;
    --v_company_footer_p_f_weight: var(--v_font_weight_m);
    --v_company_footer_p_letter_sp: 200px;
    --v_company_footer_p_padding: 75px 255px 36px 255px;
    --v_company_footer_p_margin: var(--v_0px);
    --v_service_div_js_contetn: var(--v_space_btw_justify_cont);
    --v_service_div_padding: 0px 80px 80px;
    --v_service_dv_row_gap: var(--v_gap_m);
    --v_service_content_gap: var(--v_gap_s);
    --v_service_content_width: 379px;
    --v_connection_algin: center;
    --v_connection_padding: 0px 80px 80px 80px;
    --v_form_padding: 50px 80px 50px 80px;
    --v_form_height: 503px;
    --v_form_l_div_algin: var(--v_f_start_align_itm);
    --v_form_l_div_algin_self: var(--v_stretch_align_s);
    --v_form_l_div_gap: 100px;
    --v_form_font_color: var(--v_color_white);
    --v_form_widht_input: 360px;
    --v_submit_widht: 200px;
    --v_submit_padding: 13px 106px;
    --v_submit_margin: 50px 0px 10px 1066px;
    --v_submit_gap: var(--v_gap_xs);
    --v_submit_js_content: var(--v_center_justify_cont);
    --v_submint_algin_itm: var(--v_center_align_itm);
}

body, html{
    background: var(--v_background);
    color: var(--v_font_color);
    overflow-x: hidden;
    margin: 0px;
}

.roboto_font{
    font-family: var(--v_def_font_family);
}

.def_div_class {
    display: flex;
    align-items: center;
    gap: var(--v_def_div_gap);
    flex-shrink: 0;
    padding: 412px 260px 393px 260px;
    justify-content: center;
    flex-direction: var(--v_def_div_flex);
}

.def_div_class h1{
    font-family: var(--v_def_font_family);
    font-size: 64px;
    letter-spacing: 15px;
    font-weight: 900;  
    padding: 0px;
    margin: 0px;
}

.line{
    display: flex;
    width: 1px;
    height: 219px; 
    background: var(--v_line_background);
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: var(--v_menu_algin_itm);
    gap: var(--v_manu_gap);
    font-weight: 100; 
}

.menu a {
    color: var(--v_font_color);
    font-family: var(--v_def_font_family);
    font-size: 54px;
    text-decoration: none;
}

.menu_line{
    display: flex;
    align-items: center;
    padding: 0px 32px;
    justify-content: var(--v_menu_line_js_content);
    flex-shrink: 0; 
    font-weight: 100; 
    border-bottom: var(--v_menu_line_border_bottom);
    color: var(--v_font_color);
}

#home{
    font-family: var(--v_def_font_family);
    font-size: 40px;
    color: var(--v_font_color);
    text-decoration: var(--v_none);
}

.menu_line nav{
    display: flex;
    gap: var(--v_menu_line_nav_gap);
    justify-content: center;
}

.menu_line nav a{
    color: var(--v_menu_line_nav_a_font);
    font-family: var(--v_def_font_family);
    font-size: 24px;
    text-decoration: none;
}

.line_after{
    height: 1px;
    background-color: var(--v_line_after);
}

.compinfo_title{
    padding: 71px 80px;
}

.compinfo_title img{
    width: 628px;
}

.compinfo_title h1{
    position: absolute;
    top: 218px;
    left: var(--v_compinfo_left);
    color: var(--v_compinfo_title_color_h1);
    text-shadow: var(--v_compinfo_title_text_shadow);
    font-family: var(--v_def_font_family);
    font-size: 120px;
    font-weight: var(--v_compinfo_title_font_wheigt);
    width: var(--v_compinfo_width);
    line-height: var(--v_compinfo_line_height);
}

.nav_services{
    position: absolute;
    top: 574px;
    left: var(--v_nav_sevice_left);
    color: var(--v_font_color);
    font-size: var(--v_font_size_m);
    font-weight: var(--v_font_weight_m);
    text-decoration-line: underline; 
}

.content_block{
    align-items: center; 
    display: inline-flex;
    padding: 80px;
    flex-direction: column;
    gap: 80px; 
}

.fromus{
    background-color: var(--v_fromus_bg_color);
}

.h2_sytle{
    font-size: 40px;
    font-style: italic;
    font-weight: var(--v_font_weight_m);
}

.fromus h2{
    color: var(--v_fromus_color);
}

.fromus_div{
    display: flex;
    gap: var(--v_fromus_div_gap);
    justify-content: var(--v_fromus_js_content);
    align-items: var(--v_fromus_algin_itm);
    gap: 73px;
    align-self: var(--v_fromus_algin_self); 
}

.fromus_div > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch; 
    gap: 0px;
}

.opinion{
    color: var(--v_opinion_color);
    font-size: var(--v_opinion_font_size);
    font-style: italic;
    font-weight: 400;
}


.author{
    display: flex;
    align-items: center; 
    color: var(--v_author_color);
    font-size: 24px;
    font-weight: 400;
    justify-content: var(--v_author_js_contetn);
    align-self: stretch; 
}



.introduction p{
    font-size: var(--v_introduction_p);
    font-weight: 400; 
    color: var(--v_font_color);
}


.introduction h2{
    color: var(--v_font_color);
}

.all_opinion{
    padding: 0px;
    margin: 0px;
}

.company_footer{
    background: linear-gradient(90deg, #7000A0 0.01%, #A0009B 100%);
    width: 100%;
    height: var(--v_company_footer_height)
}

.company_footer p{
    color: var(--v_company_footer_p_color);
    text-align: var(--v_center_align_itm);
    font-family: var(--v_def_font_family);
    font-size: var(--v_company_footer_p_f_size);
    font-weight: var(--v_company_footer_p_f_weight);
    letter-spacing: var(--v_company_footer_p_letter_sp);
    padding: var(--v_company_footer_p_padding);
    margin: var(--v_company_footer_p_margin);
}

.service{
    align-items: center; 
    padding: 50px 577px;
    text-align: center; 
    color: var(--v_font_color);
}

.service_div{
    display: flex;
    justify-content: var(--v_service_div_js_contetn);
    align-items: flex-start;
    align-content: flex-start;
    row-gap: var(--v_service_dv_row_gap);
    flex-wrap: wrap; 
    padding: var(--v_service_div_padding);
    color: var(--v_font_color);
}

.service_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--v_service_content_gap); 
    width: var(--v_service_content_width);
}

.service_content p{
    padding: 0px;
    margin: 0px;
}

.title{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.upper_side{
    padding: 0px 80px 0px 80px;
}

.upper_resp{
    padding: 0px 60px 0px 60px;
}

.content{
    font-size: 24px;
    font-weight: 400;
}

.connection_head{
    align-items: center; 
    text-align: center; 
    padding: 50px 0px 0px 0px;
    color: var(--v_font_color); 
}

.connection{
    display: flex;
    justify-content: space-between;
    align-items: var(--v_connection_algin); 
    padding: var(--v_connection_padding);
    color: var(--v_font_color); 
}

.connect_content{
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}

.zero_space_cont p{
    margin: 0px;
    
}

.connection_normal{
    font-weight: 400;
    font-size: 24px;  
}

.connection_con{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

ul > li{
    font-weight: 400;
    font-size: 24px;
}

.map{
    padding: 0px 0px 0px 100px;
}

.form_div{
    background: var(--v_form_div);
    padding: var(--v_form_padding);
    height: var(--v_form_height); 
}


.fomr_l_div{
    display: flex;
    justify-content: space-between;
    align-items: var(--v_form_l_div_algin);
    align-self: var(--v_form_l_div_algin_self); 
    gap: var(--v_form_l_div_gap);
    padding: 0px 0px 26px 0px;
}

.message{
    display: flex;
    width: 1280px;
    flex-direction: column;
    align-items: start;
}

/*minimális robot ellenőrzés miatt beletettem egy rejtett emailt is!*/
.hidden{
    display: none;
}

.form_font{
    color: var(--v_form_font_color);
    font-size: 24px;
    font-weight: 700
}

.form_input{
    width: var(--v_form_widht_input);
    height: 50px;
    border-bottom: 4px solid #A0009B;
    background: var(--v_color_grey); 
}

.from_message{
    width: 1280px;
    height: 143px;
}

.submit{
    background: linear-gradient(92deg, #7000A0 0.76%, #A0009B 99.64%); ; 
    display: flex;
    width: var(--v_submit_widht);
    padding: var(--v_submit_padding);
    justify-content: var(--v_submit_js_content);
    align-items: var(--v_submint_algin_itm);
    gap: var(--v_submit_gap); 
    margin: var(--v_submit_margin);
    border: none;
}

@media (prefers-color-scheme: dark) {
    body{
        --v_background: var(--v_dark_background);
        --v_font_color: var(--v_color_white);
        --v_form_color: var(--v_color_black);
        --v_compinfo_title_text_shadow: var(--v_none);
        --v_menu_line_border_bottom: var(--v_dak_border_bottom);
        --v_line_background: var(--v_color_white);
        --v_fromus_bg_color: var(--v_color_white);
        --v_fromus_color: var(--v_dark_fromus_color);
        --v_opinion_color: var(--v_dark_opinion_color);
        --v_author_color: var(--v_color_purple);
        --v_form_div: var(--v_color_white);
        --v_compinfo_title_color_h1: var(--v_color_white);
        --v_form_font_color: var(--v_color_black);
    }

    .menu a{
        color: var(--v_color_white);
    }

    @media screen and (max-width: 1185px) and (min-width: 370px){
        .menu_line nav a{
            --v_menu_line_nav_a_font: white;
        }
        .service{
            padding: 0px 0px;
        }
    }
    @media screen and (min-width: 1185px) {
        .menu_line nav a{
            --v_menu_line_nav_a_font: var(--v_color_greyis);
        }
    }

    .submit{
        color: var(--v_color_white);
    }
  
}



@media screen and (max-width: 1185px) and (min-width: 370px) {
    

    body{
        --v_fromus_div_gap: var(--v_gap_m);
        --v_fromus_js_content: var(--v_center_justify_cont);
        --v_fromus_algin_itm: var(--v_center_align_itm);
        --v_fromus_algin_self: var(--v_stretch_align_s); 
        --v_def_div_flex: var(--v_column_direction);
        --v_manu_gap: 15px;
        --v_menu_algin_itm: var(--v_center_align_itm);
        --v_menu_line_js_content: var(--v_space_btw_justify_cont);
        --v_menu_line_nav_gap: 8px;
        --v_opinion_font_size: var(--v_font_size_m);
        --v_author_color: var(--v_color_purple);
        --v_author_js_contetn: var(--v_f_end_align_itm); 
        --v_compinfo_title_font_wheigt: var(--v_font_weight_m);
        --v_compinfo_left: 10px;
        --v_compinfo_width: auto;
        --v_compinfo_line_height: 60px;
        --v_introduction_p: 18px;
        --v_company_footer_height: 200px;
        --v_company_footer_p_color: var(--v_color_white);
        --v_company_footer_p_f_size: 40px;
        --v_company_footer_p_f_weight: var(--v_font_weight_l);
        --v_company_footer_p_letter_sp: 50px;
        --v_company_footer_p_padding: 77px 56px 63px 56px;
        --v_company_footer_p_margin: var(--v_0px);
        --v_service_div_js_contetn: var(--v_center_justify_cont);
        --v_service_div_padding: 0px 32px;
        --v_service_dv_row_gap: 0px;
        --v_service_content_gap: var(--v_gap_s); 
        --v_connection_algin: var(--v_f_start_align_itm);
        --v_connection_padding: 0px 32px;
        --v_form_padding: 32px 32px 32px 32px;
        --v_form_height: 650px;
        --v_form_l_div_algin: var(--v_center_align_itm);
        --v_form_l_div_algin_self: var(--v_stretch_align_s); 
        --v_form_l_div_gap: var(--v_gap_s); 
        --v_form_widht_input: 300px;
        --v_submit_padding: 13px 106px 13px 65px;
        --v_submit_margin: var(--v_0px); 
        --v_submit_gap: var(--v_gap_xs); 
        --v_submit_js_content: var(--v_column_direction);
        --v_submint_algin_itm: var(--v_center_align_itm);
    }

    .def_div_class{
        padding: 153px 0px;
    }

    .def_div_class h1{
        font-size: 48px;
        letter-spacing: 10px;
        text-align: center;
    }

    .line{
        width: 376px;
        height: 1px;
    }

    .menu a{
        font-size: 40px;
    }

    .menu_line{
        padding: 8px 24px 8px 24px;   
    }

    #connect_nav{
        margin: 0px 0px 8px 0px;
    }

    .menu_line p{
        font-size: 32px;
        font-weight: 900;
    }

    .menu_line nav{
        align-items: flex-end;
        flex-direction: column; 
    }

    .menu_line a{
        font-size: 24px;
        font-weight: 100;
    }

    .compinfo_title{
        padding: 0px 0px;
        background-color: var(--v_compinfo_title);
        height: 281px;
    }

    .compinfo_title img{
        width: 375px;
        height: 281px;
    }
    
    .compinfo_title h1{
        display: inline-block;
        text-align: center;
        font-size: 50px;
        top: 150px;
        letter-spacing: 1px;
    }
    
    .nav_services{
        display: var(--v_none);
    }

    .fromus{
        display: inline-flex;
        padding: 32px;
        flex-direction: column;
        align-items: center;
        gap: 32px; 
    }

    .fromus_div{
        flex-direction: column;
    }
   
    .author{
        padding: 0px;
        margin: 0px;
    }
    
    .introduction{
        padding: 0px 32px;
        gap: var(--v_gap_s); 
    }

    .introduction h2{
        padding: 32px 0px 0px 0px;
    }

    .service_div{
        gap: 64px 50px;
    }

    .service_content{
        padding: 32px 0px;
        min-width: 300px;
    }

    .upper_side{
        padding: 0px 50px 0px 50px;
    }
    
    .upper_resp{
        padding: 0px 10px 0px 10px;
    }

    .connection{
        display: flex;
        flex-direction: column;
        gap: 64px; 
    }

    .map{
        align-self: stretch; 
        padding: 0px 0px 32px 0px;
    }

    .form_div{
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 32px;
    }

    .fomr_l_div{
        display: flex;
        flex-direction: column;
    }

    .message{
        display: flex;
        height: 143px;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        width: auto;
    }

    .from_message{
        width: 100%;
        min-width: 300px;
    }

    .message_label{
        margin: 0px 237px 0px 0px; 
    }

    .submit_div{
        display: flex;
        width: var(--v_width_100);
        padding: 32px;
        flex-direction: var(--v_column_direction);
        align-items: var(--v_center_align_itm);
        gap: var(--v_gap_s);
    }

    .submit{
        display: flex; 
    }

    .service{
        padding: 0px 0px;
    }
}


@media screen and (max-width: 1435px) and (min-width: 1406px) {
    body{
        --v_def_div_gap: var(--v_gap_s);
    }
}

@media screen and (max-width: 1405px) and (min-width: 1291px) {
    body{
        --v_nav_sevice_left: 1000px;
        --v_def_div_gap: 15px;
    }

    .def_div_class h1{
        font-size: 54px;
    }

    .menu a{
        font-size: 48px;
    }
}

@media screen and (max-width: 1290px) and (min-width: 1186px) {
    body{
        --v_nav_sevice_left: 950px;
        --v_def_div_gap: var(--v_gap_xs);
        --v_compinfo_left: 555px;
        --v_form_padding: 20px 30px 20px 30px;
        --v_form_widht_input: 100%;
        --v_submit_padding: 13px 106px 13px 65px;
        --v_submit_margin: 0px 0px 0px 140px; 
        --v_submit_gap: var(--v_gap_xs); 
        --v_submit_js_content: var(--v_column_direction);
        --v_submint_algin_itm: var(--v_center_align_itm);
    }

    .def_div_class h1{
        font-size: 54px;
    }

    .menu a{
        font-size: 48px;
    }    

    .compinfo_title h1{
        font-size: 100px;
        top: 238px;
    }

    .submit_div{
        display: flex;
        width: var(--v_width_100);
        padding: 32px;
        flex-direction: var(--v_column_direction);
        align-items: var(--v_center_align_itm);
        gap: var(--v_gap_s);
    }

    .submit{
        display: flex;
    }
}


@media screen and (max-width: 1760px) and (min-width: 1450px) {
    body{
        --v_nav_sevice_left: 83%;
        --v_service_content_width: 400px;
    }
    
}

@media screen and (min-width: 1761px) {
    body{
        --v_nav_sevice_left: 83%;
        --v_service_content_width:500px;
    }    
}