/*create variables*/
:root{
    /*alap*/
    --v_background: linear-gradient(117deg, #EEEEF0 0%, #CCCCD8 100%);
    --v_purple_bg: linear-gradient(90deg, #7000A0 0.01%, #A0009B 100%);
    --v_dark_purple: linear-gradient(92deg, #7000A0 0.76%, #A0009B 99.64%); 
    --v_font_family: 'Roboto', sans-serif;
    --v_64_font_size: 64px;
    --v_54_font_size: 54px;
    --v_40_font_size: 40px;
    --v_48_font_size: 48px;
    --v_24_font_size: 24px;
    --v_30_font_size: 30px;
    --v_32_font_size: 32px;
    --v_50_font_size: 50px;
    --v_18_font_size: 18px;
    --v_100_font_size: 100px;
    --v_120_font_size: 120px;
    --v_60_line_height: 60px;
    --v_140_line_height: 140px;
    --v_60_line_height: 60px;
    --v_color_pink: #D166FF;
    --v_color_purple: #7000A0;
    --v_color_black: #121215;
    --v_color_white: white;
    --v_color_greyis: rgba(255, 255, 255, 0.75); 
    --v_color_grey: #888;
    --v_flex_dis: flex;
    --v_inline_dis: inline-block;
    --v_inline_felx_dis: inline-flex;
    --v_column_direction: column;
    --v_f_start_align_itm: flex-start;
    --v_center_align_itm: center;
    --v_f_end_align_itm: flex-end;
    --v_padding_32: 32px;
    --v_padding_32_total: 32px 32px 32px 32px;
    --v_padding_footer: 75px 255px 75px 255px;
    --v_padding_footer_mobile: 77px 56px 63px 56px;
    --v_xxl_padding: 412px 260px 393px 260px;
    --v_l_padding: 71px 80px; 
    --v_padding_80: 80px;
    --v_xl_padding: 153px 0px;
    --v_lxl_padding: 50px 577px;
    --v_s_padding: 8px 24px 8px 24px; 
    --v_xxs_margin: 0px 0px 8px 0px; 
    --v_padding_l_lef_right: 0px 80px 0px 80px;
    --v_padding_l_lef: 0px 237px 0px 0px;
    --v_padding_m_left_right: 0px 60px 0px 60px;
    --v_padding_s_left_right: 0px 50px 0px 50px;
    --v_padding_xxs_left_right: 0px 10px 0px 10px;
    --v_padding_l_top_left_right: 0px 80px 80px 80px;
    --v_padding_s_total: 13px 106px 13px 65px;
    --v_padding_sm_total: 50px 80px 50px 80px;
    --v_padding_top_m: 50px 0px 0px 0px;
    --v_padding_0_32: 0px 32px;
    --v_padding_32_0: 32px 0px;
    --v_padding_32_0_0: 32px 0px 0px 0px;
    --v_padding_32_under: 0px 0px 32px 0px;
    --v_padding_xxs: 13px 106px;
    --v_padding_20_30: 20px 30px 20px 30px;
    --v_padding_xs_down: 0px 0px 26px 0px;
    --v_m_padding: 77px 58px;
    --v_lm_padding: 0px 80px 80px;
    --v_l_padding_right: 0px 0px 0px 100px;
    --v_0px: 0px;
    --v_xxl_right_margin: 50px 0px 10px 1066px;
    --v_xl_left_margin: 0px 0px 0px 140px;
    --v_15_letter_sp: 15px;
    --v_10_letter_sp: 10px;
    --v_200_letter_sp: 200px;
    --v_1_letter_sp: 1px;
    --v_50_letter_sp: 50px;
    --v_900_font_weight: 900;
    --v_400_font_weight: 400;   
    --v_100_font_weight: 100;
    --v_700_font_weight: 700;
    --v_gap_50: 50px;
    --v_gap_80: 80px;
    --v_gap_73: 73px;
    --v_gap_32: 32px;
    --v_gap_15: 15px;
    --v_gap_10: 10px;
    --v_gap_8: 8px;
    --v_gap_0: 0px;
    --v_gap_26: 26px;
    --v_gap_64: 64px;
    --v_gap_64_50: 64px 50px;
    --v_gap_100: 100px;
    --v_italic_font_style: italic;
    --v_flex_shrink: 0;
    --v_stretch_align_s: stretch;
    --v_center_justify_cont: center;
    --v_space_btw_justify_cont: space-between;
    --v_set_auto: auto;
    --v_set_static: static;
    --v_position_absolut: absolute;
    --v_felx_direction: normal;
    --v_underline_text_decor: underline;
    --v_widht_100: 100%;
    --v_width_1: 1px;
    --v_width_727: 727px;
    --v_width_628: 628px;
    --v_width_376: 376px;
    --v_width_375: 375px;
    --v_width_379: 379px;
    --v_width_300: 300px;
    --v_width_400: 400px;
    --v_width_500: 500px;
    --v_width_200: 200px;
    --v_width_360: 360px;
    --v_width_1280: 1280px;
    --v_height_219: 219px;
    --v_height_471: 471px;
    --v_height_281: 281px;
    --v_height_50: 50px;
    --v_height_143: 143px;
    --v_height_503: 503px;
    --v_height_400: 400px;
    --v_height_650: 650px;
    --v_height_291: 291px;
    --v_height_200: 200px;
    --v_border_bottom: 1px solid black;
    --v_border_pink_bottom: 4px solid #A0009B;
    --v_white_shadow: 0px 0px 15px #FFF;    
    --v_top_218: 218px;
    --v_top_574: 574px;
    --v_top_150: 150px;
    --v_left_0: 0px;
    --v_left_525: 525px;
    --v_left_1175: 1175px;
    --v_left_555: 555px;
    --v_left_1000: 1000px;
    --v_left_950: 950px;
    --v_left_83p: 83%;
    --v_left_10: 10px;
    --v_fromus_bg_color: black;
    --v_fromus_color: #EEEEF0;
    --v_none: none;
    --v_wrap_flex_wrap: wrap;
    
    /*dark mode*/
    --v_dark_background: linear-gradient(117deg, #121215 0%, #262629 100%);
    --v_dak_border_bottom: 1px solid white;
    --v_dark_fromus_color: black;
}

body, html{
    background: var(--v_background);
    color: var(--v_color_black);
    overflow-x: hidden;
    margin: var(--v_0px);
}

.roboto_font{
    font-family: var(--v_font_family);
}

.def_div_class {
    display: var(--v_flex_dis);
    align-items: var(--v_center_align_itm); 
    gap: var(--v_gap_50);
    flex-shrink: var(--v_flex_shrink);
    padding: var(--v_xxl_padding);
    justify-content: var(--v_center_justify_cont);
    flex-direction: var(--v_felx_direction);
}

.def_div_class h1{
    font-family: var(--v_font_family);
    font-size: var(--v_64_font_size);
    letter-spacing: var(--v_15_letter_sp);
    font-weight: var(--v_900_font_weight);  
    padding: var(--v_0px);
    margin: var(--v_0px);
}

.line{
    display: var(--v_flex_dis);
    width: var(--v_width_1);
    height: var(--v_height_219); 
    background: var(--v_color_black);
}

.menu{
    display: var(--v_flex_dis);
    flex-direction: var(--v_column_direction);
    align-items: var(--v_f_start_align_itm);
    gap: var(--v_gap_15);
    font-weight: var(--v_100_font_weight); 
}

.menu a {
    color: var(--v_color_black);
    font-family: var(--v_font_family);
    font-size: var(--v_54_font_size);
    text-decoration: var(--v_none);
}

.menu_line{
    display: var(--v_flex_dis);
    align-items: var(--v_center_align_itm);
    padding: var(--v_padding_0_32);
    justify-content: var(--v_space_btw_justify_cont);
    flex-shrink: var(--v_flex_shrink); 
    font-weight: var(--v_100_font_weight); 
    border-bottom: var(--v_border_bottom);
    color: var(--v_color_black);
}

#home{
    font-family: var(--v_font_family);
    font-size: var(--v_40_font_size);
    color: var(--v_color_black);
    text-decoration: var(--v_none);
}

.menu_line nav{
    display: var(--v_flex_dis);
    gap: var(--v_gap_50);
    justify-content: var(--v_center_justify_cont);
}

.menu_line nav a{
    color: var(--v_color_black);
    font-family: var(--v_font_family);
    font-size: var(--v_24_font_size);
    text-decoration: var(--v_none);
}

.line_after{
    height: var(--v_width_1);
    background-color: var(--v_color_black);
}

.compinfo_title{
    padding: var(--v_l_padding);
}

.compinfo_title img{
    width: var(--v_width_628);
}

.compinfo_title h1{
    position: var(--v_position_absolut);
    top: var(--v_top_218);
    left: var(--v_left_525);
    color: var(--v_color_black);
    text-shadow: var(--v_white_shadow);
    font-family: var(--v_font_family);
    font-size: var(--v_120_font_size);
    font-weight: var(--v_400_font_weight);
    width: var(--v_width_727);
    line-height: var(--v_140_line_height);
}

.nav_services{
    position: var(--v_position_absolut);
    top: var(--v_top_574);
    left: var(--v_left_1175);
    color: var(--v_color_black);
    font-size: var(--v_24_font_size);
    font-weight: var(--v_400_font_weight);
    text-decoration-line: var(--v_underline_text_decor); 
}

.content_block{
    align-items: var(--v_center_align_itm); 
    display: var(--v_inline_felx_dis);
    padding: var(--v_padding_80);
    flex-direction: var(--v_column_direction);
    gap: var(--v_gap_80); 
}

.fromus{
    background-color: var(--v_fromus_bg_color);
}

.h2_sytle{
    font-size: var(--v_40_font_size);
    font-style: var(--v_italic_font_style);
    font-weight: var(--v_400_font_weight);
}

.fromus h2{
    color: var(--v_fromus_color);
}

.fromus_div{
    display: var(--v_flex_dis);
    gap: var(--v_gap_50);
    justify-content: var(--v_center_justify_cont);
    align-items: var(--v_f_start_align_itm);
    gap: var(--v_gap_73);
    align-self: var(--v_stretch_align_s); 
}

.fromus_div > div{
    display: var(--v_flex_dis);
    flex-direction: var(--v_column_direction);;
    align-items: var(--v_center_align_itm);
    align-self: var(--v_stretch_align_s); 
    gap: var(--v_gap_0);
}

.opinion{
    color: var(--v_fromus_color);
    font-size: var(--v_30_font_size);
    font-style: var(--v_italic_font_style);
    font-weight: var(--v_400_font_weight);
}


.author{
    display: var(--v_flex_dis);
    align-items: var(--v_center_align_itm); 
    color: var(--v_color_pink);
    font-size: var(--v_24_font_size);
    font-weight: var(--v_400_font_weight);
    justify-content: var(--v_f_end_align_itm);
    align-self: var(--v_stretch_align_s); 
}


.introduction p{
    font-size: var(--v_24_font_size);
    font-weight: var(--v_400_font_weight); 
}

.all_opinion{
    padding: var(--v_0px);
    margin: var(--v_0px);
}

.company_footer{
    background: var(--v_purple_bg);
    width: var(--v_widht_100);
    height: var(--v_height_291);
}

.company_footer p{
    color: var(--v_color_white);
    text-align: var(--v_center_align_itm);
    font-family: var(--v_font_family);
    font-size: var(--v_120_font_size);
    font-weight: var(--v_400_font_weight);
    letter-spacing: var(--v_200_letter_sp); 
    padding: var(--v_padding_footer);
}

.service{
    align-items: var(--v_center_align_itm); 
    padding: var(--v_lxl_padding);
    text-align: var(--v_center_align_itm); 
}

.service_div{
    display: var(--v_flex_dis);
    justify-content: var(--v_space_btw_justify_cont);
    align-items: var(--v_f_start_align_itm);
    align-content: var(--v_f_start_align_itm);
    row-gap: var(--v_gap_50);
    flex-wrap: var(--v_wrap_flex_wrap); 
    padding: var(--v_lm_padding);
    color: var(--v_color_black);
}

.service_content{
    display: var(--v_flex_dis);
    flex-direction: var(--v_column_direction);
    align-items: var(--v_center_align_itm);
    gap: var(--v_gap_32); 
    width: var(--v_width_379);
}

.service_content p{
    padding: var(--v_0px);
    margin: var(--v_0px);
}

.title{
    text-align: var(--v_center_align_itm);
    font-size: var(--v_24_font_size);
    font-weight: var(--v_700_font_weight);
}

.upper_side{
    padding: var(--v_padding_l_lef_right);
}

.upper_resp{
    padding: var(--v_padding_m_left_right);
}

.content{
    font-size: var(--v_24_font_size);
    font-weight: var(--v_400_font_weight);
}

.connection_head{
    align-items: var(--v_center_align_itm); 
    text-align: var(--v_center_align_itm); 
    padding: var(--v_padding_top_m);
    color: var(--v_color_black); 
}

.connection{
    display: var(--v_flex_dis);
    justify-content: var(--v_space_btw_justify_cont);
    align-items: var(--v_center_align_itm); 
    padding: var(--v_padding_l_top_left_right);
    color: var(--v_color_black); 
}

.connect_content{
    font-size: var(--v_24_font_size);
    font-style: var(--v_italic_font_style);
    font-weight: var(--v_700_font_weight);
    margin: var(--v_0px);
    padding: var(--v_0px);
}

.zero_space_cont p{
    margin: var(--v_0px);
    
}

.connection_normal{
    font-weight: var(--v_400_font_weight);
    font-size: var(--v_24_font_size);  
}

.connection_con{
    list-style-type: var(--v_none);
    margin: var(--v_0px);
    padding: var(--v_0px);
}

ul > li{
    font-weight: var(--v_400_font_weight);
    font-size: var(--v_24_font_size);
}

.map{
    padding: var(--v_l_padding_right);
}

.form_div{
    background: var(--v_color_black);
    padding: var(--v_padding_sm_total);
    height: var(--v_height_503); 
}


.fomr_l_div{
    display: var(--v_flex_dis);
    justify-content: var(--v_space_btw_justify_cont);
    align-items: var(--v_f_start_align_itm);
    align-self: var(--v_stretch_align_s); 
    gap: var(--v_gap_100);
    padding: var(--v_padding_xs_down);
}

.message{
    display: var(--v_flex_dis);
    width: var(--v_width_1280);
    flex-direction: var(--v_column_direction);
    align-items: var(--v_f_start_align_itm);
}

/*minimális robot ellenőrzés miatt beletettem egy rejtett emailt is!*/
.hidden{
    display: var(--v_none);
}

.form_font{
    color: var(--v_color_white);
    font-size: var(--v_24_font_size);
    font-weight: var(--v_700_font_weight);
}

.form_input{
    width: var(--v_width_360);
    height: var(--v_height_50);
    border-bottom: var(--v_border_pink_bottom);
    background: var(--v_color_grey); 
}

.from_message{
    width: var(--v_width_1280);
    height: var(--v_height_143);
}

.submit{
    background: var(--v_dark_purple); 
    display: var(--v_flex_dis);;
    width: var(--v_width_200);
    padding: var(--v_padding_xxs);
    justify-content: var(--v_center_justify_cont);
    align-items: var(--v_center_align_itm);
    gap: var(--v_gap_10); 
    margin: var(--v_xxl_right_margin);
    border: var(--v_none);
}

@media (prefers-color-scheme: dark) {
    body{
        background: var(--v_dark_background);
        color: var(--v_color_white);
    }

    .line{
        background: var(--v_color_white);
    }

    .menu a{
        color: var(--v_color_white);
    }

    .menu_line{
        border-bottom: var(--v_dak_border_bottom);
    }

    #home{
        color: var(--v_color_white);
    }

    @media screen and (max-width: 1185px) and (min-width: 370px){
        .menu_line nav a{
            color: white;
        }
    }
    @media screen and (min-width: 1185px) {
        .menu_line nav a{
            color: var(--v_color_greyis);
        }
    }
    .fromus{
        background-color: var(--v_color_white);
    }

    .fromus h2{
        color: var(--v_dark_fromus_color);
    }
    .opinion{
        color: var(--v_dark_fromus_color);
    }

    .author{
        color: var(--v_color_purple);
    }

    .nav_services{
        color: var(--v_color_white);
    }

    .compinfo_title h1{
        color: var(--v_color_white);
        text-shadow: var(--v_none);
    }
    
    .form_div{
        background: var(--v_color_white);
    }

    .form_font{
        color: var(--v_color_black);
    }

    .submit{
        color: var(--v_color_white);
    }

    .connection_head{
        color: var(--v_color_white); 
    }

    .connection{
        color: var(--v_color_white); 
    }
    .service_div{
        color: var(--v_color_white);
    }    
}


@media screen and (max-width: 1185px) and (min-width: 370px) {
    

    .def_div_class{
        padding: var(--v_xl_padding);
        flex-direction: var(--v_column_direction);
    }

    .def_div_class h1{
        font-size: var(--v_48_font_size);
        letter-spacing: var(--v_10_letter_sp);
        text-align: var(--v_center_align_itm);
    }

    .line{
        width: var(--v_width_376);
        height: var(--v_width_1);
    }

    .menu{
        gap: var(--v_gap_15);
        align-items: var(--v_center_align_itm)
    }

    .menu a{
        font-size: var(--v_40_font_size);
    }

    .menu_line{
        --padding: var(--v_s_padding);
        --justify-content: var(--v_space_btw_justify_cont);
    }

    #connect_nav{
        margin: var(--v_xxs_margin);
    }

    .menu_line p{
        font-size: var(--v_32_font_size);
        font-weight: var(--v_900_font_weight);
    }

    .menu_line nav{
        gap: var(--v_gap_8);
        align-items: var(--v_f_end_align_itm);
        flex-direction: var(--v_column_direction); 
    }

    .menu_line a{
        font-size: var(--v_24_font_size);
        font-weight: var(--v_100_font_weight);
    }

    .compinfo_title{
        padding: 0px 0px;
        background-color: var(--v_color_black);
        height: var(--v_height_281);
    }

    .compinfo_title img{
        width: var(--v_width_375);
        height: var(--v_height_281);
    }
    
    .compinfo_title h1{
        display: var(--v_inline_dis);
        text-align: var(--v_center_align_itm);
        font-size: var(--v_50_font_size);
        font-weight: var(--v_400_font_weight);
        line-height: var(--v_60_line_height);
        text-shadow: var(--v_none);
        width: var(--v_set_auto);
        top: var(--v_top_150);
        left: var(--v_left_10);
        letter-spacing: var(--v_1_letter_sp);
        color: var(--v_color_white)
    }
    
    .nav_services{
        display: var(--v_none);
    }

    .fromus{
        display: var(--v_inline_felx_dis);
        padding: var(--v_padding_32);
        flex-direction: var(--v_column_direction);
        align-items: var(--v_center_align_itm);
        gap: var(--v_gap_32); 
    }

    .fromus_div{
        justify-content: var(--v_center_justify_cont);
        flex-direction: var(--v_column_direction);
        align-items: var(--v_center_align_itm);
        gap: var(--v_gap_50);
        align-self: var(--v_stretch_align_s); 
    }

    .opinion{
        font-size: var(--v_24_font_size);
    }
    
    .author{
        color: var(--v_color_purple);
        justify-content: var(--v_f_end_align_itm); 
        padding: var(--v_0px);
        margin: var(--v_0px);
    }
    
    .introduction{
        padding: var(--v_padding_0_32);
        gap: var(--v_gap_32); 
    }

    .introduction h2{
        padding: var(--v_padding_32_0_0);
    }
    
    .introduction p{
        font-size: var(--v_18_font_size);
    }
    
    .company_footer{
        height: var(--v_height_200);
    }
    
    .company_footer p{
        color: var(--v_color_white);
        font-size: var(--v_40_font_size);
        font-weight: var(--v_700_font_weight);
        letter-spacing: var(--v_50_letter_sp); 
        padding: var(--v_padding_footer_mobile);
        margin: var(--v_0px);
    }

    .service{
        display: var(--v_none);
    }

    .service_div{
        padding: var(--v_padding_0_32);
        justify-content: var(--v_center_justify_cont);
        row-gap: var(--v_gap_0);
        gap: var(--v_gap_64_50);
    }

    .service_content{
        padding: var(--v_padding_32_0);
        min-width: var(--v_width_300);
        gap: var(--v_gap_32); 
    }

    .upper_side{
        padding: var(--v_padding_s_left_right);
    }
    
    .upper_resp{
        padding: var(--v_padding_xxs_left_right);
    }

    .connection{
        display: var(--v_flex_dis);
        padding: var(--v_padding_0_32);
        flex-direction: var(--v_column_direction);
        align-items: var(--v_f_start_align_itm);
        gap: var(--v_gap_64); 
    }

    .map{
        align-self: var(--v_stretch_align_s); 
        padding: var(--v_padding_32_under);
    }

    .form_div{
        display: var(--v_flex_dis);
        width: var(--v_width_100);
        padding: var(--v_padding_32_total);
        flex-direction: var(--v_column_direction);
        gap: var(--v_gap_32); 
        height: var(--v_height_650);
    }

    .fomr_l_div{
        display: var(--v_flex_dis);
        flex-direction: var(--v_column_direction);
        align-items: var(--v_center_align_itm);
        gap: var(--v_gap_32); 
        align-self: var(--v_stretch_align_s); 
    }

    .message{
        display: var(--v_flex_dis);
        height: var(--v_height_143);
        flex-direction: var(--v_column_direction);
        align-items: var(--v_center_align_itm);
        align-self: var(--v_stretch_align_s);
        width: var(--v_set_auto);
    }

    .form_input{
        width: var(--v_width_300);
    }

    .from_message{
        width: var(--v_widht_100);
        min-width: var(--v_width_300);
    }

    .message_label{
        margin: var(--v_padding_l_lef); 
    }

    .submit_div{
        display: var(--v_flex_dis);
        width: var(--v_width_100);
        padding: var(--v_padding_32);
        flex-direction: var(--v_column_direction);
        align-items: var(--v_center_align_itm);
        gap: var(--v_gap_32);
    }

    .submit{
        display: var(--v_flex_dis);
        width: var(--v_width_200);
        justify-content: var(--v_column_direction);
        align-items: var(--v_center_align_itm);
        gap: var(--v_gap_10); 
        padding: var(--v_padding_s_total);
        margin: var(--v_0px); 
    }
}


@media screen and (max-width: 1435px) and (min-width: 1406px) {
    .def_div_class{
        gap: var(--v_gap_32);
    }
}

@media screen and (max-width: 1405px) and (min-width: 1291px) {
    .def_div_class{
        gap: var(--v_gap_15);
    }

    .def_div_class h1{
        font-size: var(--v_54_font_size);
    }

    .menu a{
        font-size: var(--v_48_font_size);
    }

    .nav_services{
        left: var(--v_left_1000);
    }
}

@media screen and (max-width: 1290px) and (min-width: 1186px) {
    .def_div_class{
        gap: var(--v_gap_10);
    }

    .def_div_class h1{
        font-size: var(--v_54_font_size);
    }

    .menu a{
        font-size: var(--v_48_font_size);
    }    

    .compinfo_title h1{
        font-size: var(--v_100_font_size);
        top: var(--v_top_238);
        left: var(--v_left_555);
    }

    .nav_services{
        left: var(--v_left_950);
    }

    .form_input{
        width: var(--v_width_100);

    }

    .form_div{
        padding: var(--v_padding_20_30);
    }

    .submit_div{
        display: var(--v_flex_dis);
        width: var(--v_width_100);
        padding: var(--v_padding_32);
        flex-direction: var(--v_column_direction);
        align-items: var(--v_center_align_itm);
        gap: var(--v_gap_32);
    }

    .submit{
        display: var(--v_flex_dis);
        width: var(--v_width_200);
        justify-content: var(--v_column_direction);
        align-items: var(--v_center_align_itm);
        gap: var(--v_gap_10); 
        padding: var(--v_padding_s_total);
        margin: var(--v_xl_left_margin); 
    }
}


@media screen and (max-width: 1760px) and (min-width: 1450px) {
    .nav_services{
        left: var(--v_left_83p);
    }

    .service_content{
        width: var(--v_width_400);
    }
    
}

@media screen and (min-width: 1761px) {
    .nav_services{
        left: var(--v_left_83p);
    }

    .service_content{
        width: var(--v_width_500);
    }
    
}